<div style="padding: 23px; font-size: 1.4rem; background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/010/648/small/black-background-modern-dark-abstract-texture-vector.jpg'); background-size: contain">
    <p style="margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;">Hi <%= resetToken.user.name %>, </p>
    <br>
    <p style="margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;">To reset yout password, use the link below: </p>
    <p style="margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;"><a href="http://localhost:9000/users/reset_password/<%= resetToken.accessToken %>" style="color: red;">http://localhost:9000/users/reset_password/<%= resetToken.accessToken %></a></p>
</div>