<div id="message-window">
    <div class="message left">
        <p>Hi</p>
    </div>
    <div class="message right">
        <p>Hello. How are you?</p>
    </div>    
</div>
<form id="send-message">
    <textarea type="text" placeholder="Type message here..." ></textarea>
    <button type="submit"><i class="fa-regular fa-circle-right fa-2xl"></i></button>
</form>