<header>
    <p>User</p>
</header>
<div id="message-window">
    <div class="message left">
        <p>Hi</p>
    </div>
    <div class="message right">
        <p>Hello. How are you?</p>
    </div>   
    <div class="message left">
        <p>I am good as well.</p>
    </div>   
    <div class="message right">
        <p>Nice</p>
    </div>   
    <div class="message right">
        <p>So what's the plan for tommorrow something?</p>
    </div>   
    <div class="message left">
        <p>Nothing special</p>
    </div> 
    <div class="message left">
        <p>Let's do something then.</p>
    </div>   
</div>
<form id="send-message">
    <textarea type="text" placeholder="Type message here..." ></textarea>
    <button type="submit"><i class="fa-regular fa-circle-right fa-2xl"></i></button>
</form>