<header>
    <p>CODIAL</p>
    <ul>
        <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user.id %>">My Profile</a></li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/sign-in">Sign in</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign up</a>
            </li>
        <%}  %>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</header>