<link rel="stylesheet" type="text/css" href="/css/forms.css">

<div>
    <h1 class="page-heading">RESET EMAIL</h1>
</div>
<div class="form-container">
    <form action="/users/send-reset-email" method="POST">
        <label for="reset_mail" class="form-label" style="font-size: 1.3rem;"><b>Reset Email:</b></label>
        <input type="email" class="form-text-input" name="reset_mail" placeholder="Enter reset email" required>
        <div class="form-submit-button">
            <input type="submit" class="form-text-input" value="Send reset mail">
        </div>
    </form>
</div>