<h1>RESET EMAIL</h1>
<form action="/users/send-reset-email" method="POST">
    <input type="email" name="reset-mail" placeholder="Enter reset email" required>
    <input type="submit" value="Send reset mail">
</form>