:root{
    --font-fam: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 13vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('../images/header-img.jpg');
    border-bottom: 7px solid red;
}

header > *{
    height: 100%;
}

header p{
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 4.5rem !important;
    font-family: var(--font-fam);
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: white;
}

header ul{
    margin: 0;
    padding-left: 0;
    width: 52vw;
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li{
    margin-right: 8vw;
    font-size: 1.5rem;
    font-family: var(--font-fam);
    text-transform: uppercase;
}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    color: red !important;
}

#user{
    position: absolute;
    right: 0;
    display: flex;
}

#user img{
    width: 160px;
}

#user span{
    font-size: 1.35rem;
    font-family: var(--font-fam);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-right: 11px;
    text-transform: uppercase;
}


#user span a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1140px) {
    header ul{
        justify-content: center;
    }
}

@media screen and (max-width: 1085px) {
    header{
        justify-content: space-evenly;
    }    
    header p{
        display: none;
    }
}

@media screen and (max-width: 808px) {
    header ul li{
        font-size: 1rem !important;
    }
}