:root{
    --font-fam: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --user-name-color: rgb(196, 50, 154);
    --delete-button-color: red;
    --like-show-color: darkblue;
    --feed-post-width: 71%;
    --user-friends-width: 29%;
}

.page-heading{
    font-size: 2.5rem;
    font-family: var(--font-fam);
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

#home-container {
    display: flex;
}

#feed-posts{
    width: var(--feed-post-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3px 0;
    font-size: 1.7rem;
    font-family: var(--font-fam);
    text-transform: uppercase;
    color: white;
    background-image: url('../images/header-img.jpg');
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}

#new-post-form{
    margin-top: 20px;
    display: flex;
}

#new-post-form textarea{
    height: 83px;
    width: 42vw;
    padding:  6px 10px;
    box-sizing: border-box;
    resize: none;
    font-size: 1.2rem;
    font-family: var(--font-fam);
    border: 1px solid black;
    border-right: 0;
    border-radius: 10px 0 0 10px;
}

#new-post-form textarea::-webkit-scrollbar{display: none;}

#new-post-form textarea:focus{outline: none;}

#new-post-form input[type=submit]{
    height: 83px;
    width: 80px;
    padding: 0;
    font-size: 1.5rem;
    font-family: var(--font-fam);
    font-weight: 700;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    background-image: url('../images/header-img.jpg');
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#posts-list-container{
    width: 55vw;
    overflow: scroll;
}

#posts-list-container::-webkit-scrollbar{display: none;}

.posts-list-container-signed-in-height{
    height: 385px;
}

.posts-list-container-signed-out-height{
    height: 488px;
}

#posts-list-container ul{
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.replacement-text{
    height: 100%;
    min-height: 51px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: var(--font-fam);
    font-weight: 700;
}

.hide{display: none;}

.pointer{cursor: pointer;}

#user-friends{
    width: var(--user-friends-width);
}

.user-friends-div{
    height: 265.6px;
    display: flex;
    flex-direction: column;
}

.user-friends-div-list::-webkit-scrollbar{display: none;}

.user-friends-div-list{
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: scroll;
}

.user-friends-div-list-item{
    height: 70px;
    display: flex;
}

.user-friends-div-list-item-img{
    height: 100%;
    min-width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-friends-div-list-item-img img{
    height: 62px;
    width: 62px;
    border-radius: 50%;
}

.user-friends-div-list-item div:nth-child(2){
    min-width: 50%;
    padding-left: 5px;
    box-sizing: border-box;
}

.user-friends-div-list-item div:nth-child(2) p:first-child{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-fam);
    margin: 8px 0 2px;
    color: var(--user-name-color);
    text-transform: uppercase;
}

.user-friends-div-list-item div:nth-child(2) p:nth-child(2){
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-fam);
    color: gray;
}

.user-friends-div-list-item div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-friends-div-list-item div:nth-child(3) button{
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-fam);
    padding: 9px 7px;
    text-transform: uppercase;
    background-image: url('../images/header-img.jpg');
    color: white;
    border: none;
    border-radius: 10px;
}
