<div style="padding: 23px; font-size: 1.4rem; background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/010/648/small/black-background-modern-dark-abstract-texture-vector.jpg'); background-size: contain">
    <p style="margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;">Welcome <span style="color: red;"><%= user.name %></span>,</p>
    <br>
    <p style="margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;">You have successfully signed up to Codial.</p>
</div>